In [27]:
!pip install pymysql
!pip install SQLAlchemy

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.38-cp313-cp313-win_amd64.whl.metadata (9.9 kB)
Collecting greenlet!=0.4.17 (from SQLAlchemy)
  Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\likit\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (4.12.2)
Downloading SQLAlchemy-2.0.38-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------- ----------------------------- 0.5/2.1 MB 2.5 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 2.0 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 2.0 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 2.0 MB/s eta 0:00:01
   -------------------- ------------------- 1.0/2.1 MB 860.3 kB/s eta 0:00:02
   -------------------- ------------------- 1.0/2.1 MB 860.3 kB/s eta 0:00:02
   -------------------- ------------------- 1.0/2.1 MB 860.3 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 665.4 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 665.4 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 665.4 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 665.4 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 665.4 kB/s eta 0:00:02
   ------------------------------ --------- 1.6/2.1 MB 522.2 kB/s eta 0:00:02
   ------------------------------ --------- 1.6/2.1 MB 522.2 kB/s eta 0:00:02
   ----------------------------------- ---- 1.8/2.1 MB 518.9 kB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 518.9 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 544.9 kB/s eta 0:00:00
Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl (299 kB)
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-2.0.38 greenlet-3.1.1

In [28]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [ ]:
df = pd.read_csv('Walmart.csv')

In [14]:
df.shape

(10000, 11)

In [6]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [7]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [10]:
df.duplicated().sum()

np.int64(51)

In [11]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [12]:
df.drop_duplicates(inplace = True)

In [16]:
df.shape

(10000, 11)

In [18]:
df.dropna(inplace = True)

In [19]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [20]:
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [22]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [23]:
df['total'] = df['unit_price'] * df['quantity']

In [24]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [32]:
engine_mysql = create_engine("mysql+pymysql://root:Aries%401234@localhost:3306/walmart")

try:
    engine_mysql
    print("success")
except: 
    print("not success")

success

In [33]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)

9969